# Modeling

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Load data

In [2]:
data = pd.read_csv('../data/interim/energy_weather_explore.csv',index_col=0)

In [3]:
data

,datetime,energy,humidity,pressure,temperature,weather,wind_direction,wind_speed,year,month,month_name,day,hour,day_name,weekday
0,2012-12-31 01:00:00,10445.0,68.0,1020.0,269.72,overcast clouds,290.0,6.0,2012,12,December,31,1,Monday,0
1,2012-12-31 02:00:00,9897.0,73.0,1020.0,269.05,overcast clouds,290.0,6.0,2012,12,December,31,2,Monday,0
2,2012-12-31 03:00:00,9538.0,68.0,1021.0,268.53,overcast clouds,280.0,6.0,2012,12,December,31,3,Monday,0
3,2012-12-31 04:00:00,9333.0,79.0,1022.0,267.83,overcast clouds,280.0,8.0,2012,12,December,31,4,Monday,0
4,2012-12-31 05:00:00,9275.0,85.0,1023.0,266.77,overcast clouds,270.0,6.0,2012,12,December,31,5,Monday,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44076,2017-01-01 20:00:00,10882.0,64.0,1020.0,276.35,sky is clear,210.0,2.0,2017,1,January,1,20,Sunday,6
44077,2017-01-01 21:00:00,10831.0,59.0,1019.0,277.05,sky is clear,60.0,1.0,2017,1,January,1,21,Sunday,6
44078,2017-01-01 22:00:00,10691.0,55.0,1019.0,277.15,sky is clear,182.0,1.0,2017,1,January,1,22,Sunday,6
44079,2017-01-01 23:00:00,10484.0,64.0,1020.0,276.16,sky is clear,94.0,2.0,2017,1,January,1,23,Sunday,6
44080,2017-01-02 00:00:00,10114.0,100.0,1021.0,273.49,sky is clear,94.0,2.0,2017,1,January,2,0,Monday,0